html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.sidebar-description {
  font-weight: 500;
}

.post-description {
  display: block;
}

.post-date {
  display: inline;
}

.post-tag {
  display: inline-block;
  background: rgba(172, 65, 66, 0.15);
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  color: #ac4142;
  font-size: 90%;
  margin: 0.2em;
}

.post-tag::before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: 0.5em;
}

.post-tag:hover {
  text-decoration: none;
  background: #ac4142;
  color: white !important;
}

.sidebar-nav-item-sub {
  font-size: 85%;
  line-height: 85%;
}

.sidebar-nav-item-sub::before {
  content: "";
  padding-left: 1em;
}
